body{
	text-align: center;
}
.time-digits {
	font-size: 40px;
}
.time-box {
	font-size: 40px;
}
.block-item {
	padding-bottom: 20px;
}
.primary {
	background-color: #c52c2c;
	color: white;
}
th {
	text-align: center;
}